.row_posters {
  display: flex;

  /* to make it only movie rigth nd left */
  overflow-y: hidden;
  scroll-behavior: smooth;
  overflow-x: scroll;
  padding: 20px;
}
.row {
  margin-left: 20px;
  color: #fff;
}

/* to not disply the scroll bar */
.row_posters::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms ease-in-out;
}
.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
  cursor: pointer;
}
.row_posterLarge {
  max-height: 250px;
  transition: transform 450ms ease-in-out;
}
.row_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
  cursor: pointer;
}
